services:
  resturantwebsite.api: 
    build:
      context: ./ResturantWebSite
      dockerfile: ResturantWebSite/Dockerfile
    environment: 
      - ASPNETCORE_HTTP_PORTS=8080 
      - ConnectionStrings__DBLocalConnection=Data Source=sqlserver;Database=rusul1;User Id=sa;Password=YourStrong@Password123;MultipleActiveResultSets=true;TrustServerCertificate=True;
    ports:
     - "8080:8080" 
    depends_on:
      - sqlserver  
  resturantwebsite.angular: 
    build:
      context: ./angular/angularProject.V1/angularProject
      dockerfile: dockerfile
    ports:
     - "3000:3000"
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server_container
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong@Password123
      - MSSQL_PID=Developer # ????? ??????? ?? Express ?? Standard
    volumes:
      - mssql_data:/var/opt/mssql

volumes:
  mssql_data: